@import "src/app/components/common/scss/utils.scss";

.main_wrapper {
  @include flex(center, center);
  flex-direction: column;
  margin-top: 10%;
  gap: 50px;

  .start {
    stroke-dasharray: 13337 13339;
    stroke-dashoffset: 13338;
    animation: draw 3000ms linear 0ms forwards;
  }
  @keyframes draw {
    100% {
      stroke-dashoffset: 0;
    }
  }
  .tag_wrap {
    flex-wrap: wrap;
    flex-direction: row;
    width: 200px;
    gap: 10px;
    top: 230px;
    right: 35%;

    p {
      &:first-child {
        background-color: rgb(201, 206, 255);
        border: 1px solid transparent !important;
      }
      margin: 0px;
      background-color: rgb(239, 239, 239);
      padding: 7px;
      border-radius: 5px;
    }
  }
  .main_posts {
    @include flex(center, initial);
    gap: 30px;
    flex-wrap: wrap;
    padding: 30px;

    li {
      overflow: hidden;
      a {
        @include flex(center, initial);
        display: flex;
        flex-direction: column;
        gap: 2px;
        .img {
          border-radius: 50%;
        }
      }
    }
  }
}
