.main_wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 20%;
  gap: 50px;

  .start {
    stroke-dasharray: 13337 13339;
    stroke-dashoffset: 13338;
    animation: draw 3000ms linear 0ms forwards;
  }
  @keyframes draw {
    100% {
      stroke-dashoffset: 0;
    }
  }

  .main_posts {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    padding: 30px;

    li {
      overflow: hidden;
      a {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2px;
      }
    }
  }
}
