@import "src/app/components/common/scss/utils.scss";

.comment_wrap {
  @include flex(flex-end, flex-end);
  flex-direction: column;

  form {
    @include flex(flex-end, flex-end);
    width: 80%;
    flex-direction: column;
    margin-bottom: 30px;
    label {
      justify-items: flex-start;
      font-weight: 600;
      margin-bottom: 10px;
    }
    textarea {
      display: block;
      border: none;
      width: 100%;
      min-width: 450px;
      min-height: 100px;
      resize: none;
      padding: 20px;
      background-color: aliceblue;
    }
    button {
      background-color: black;
      padding: 13px;
      color: aliceblue;
      border-radius: 5px;
      font-size: 12px;
      margin-top: 10px;
    }
  }

  .commented_wrap {
    @include flex(initial, initial);
    flex-direction: column;
    width: 100%;
    gap: 15px;

    .commentedEl_wrap {
      @include flex(initial, initial);
      flex-direction: column;
      //   gap: 10px;
      flex-wrap: wrap;
      .cm_img_wrap {
        @include flex(center, initial);
        gap: 10px;
        font-weight: 500;
        .bin {
          background: url($img) no-repeat -155px -48px;
          width: 11px;
          height: 13px;
          cursor: pointer;
        }
      }
      span {
        font-size: 13px;
        padding-left: 37px;

        &.cm_cancel {
          cursor: pointer;
          display: block;
          background-color: antiquewhite;
        }
      }
      p {
        margin: 10px 0 35px 40px;
        &.cm_reply {
          @include flex(center, initial);
          cursor: pointer;
          span {
            display: block;
            padding-left: 10px;
            transform: rotateY(180deg);
          }
        }
      }
    }
  }
}

.notice_text {
  text-align: center;
  span {
    cursor: pointer;
  }
}
