@import "src/app/components/common/scss/utils.scss";

.comment_wrap {
  @include flex(flex-end, flex-end);
  flex-direction: column;

  form {
    @include flex(flex-end, flex-end);
    width: 80%;
    flex-direction: column;
    padding: 30px;
    label {
      justify-items: flex-start;
      font-weight: 600;
      margin-bottom: 10px;
    }
    textarea {
      border: none;
      width: 100%;
      min-width: 450px;
      min-height: 100px;
      resize: none;
      padding: 20px;
      background-color: aliceblue;
    }
    button {
      background-color: black;
      padding: 13px;
      color: aliceblue;
      border-radius: 5px;
      font-size: 12px;
      margin-top: 10px;
    }
  }

  .commented-wrap {
    @include flex(initial, initial);
    flex-direction: column;
    width: 100%;
    gap: 15px;

    .commentedEl-wrap {
      @include flex(initial, initial);
      flex-direction: column;
      //   gap: 10px;
      flex-wrap: wrap;
      .cm_img_wrap {
        @include flex(center, initial);
        gap: 10px;
        font-weight: 500;
        .bin {
          background: url($img) no-repeat -154px -50px;
          width: 13px;
          height: 15px;
          cursor: pointer;
        }
      }
      span {
        font-size: 13px;
        padding-left: 37px;
      }
      p {
        margin: 15px 0 25px 30px;
      }
    }
  }
}

.notice_text {
  text-align: center;
  span {
    cursor: pointer;
  }
}
