.heart_wrap{
   position: fixed;
   top: 300px;
   left: 100px;
  .heart {
    width: 20px;
    height: 20px;
    background: white;
    border : 1px solid black;
    position: relative;
    transform: rotate(45deg);
    z-index: 99;
  }
  .heart::before,
  .heart::after {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    border-radius: 50%;
    border : 1px solid black;
z-index: -1;
    // background: #ea2027;
  }
  .heart::before {
    left: -50%;
    right: 0;
  }
  .heart::after {
    top: -50%;
    right: 0;
  }
}
