@import "src/app/components/common/scss/utils.scss";

.memo_page {
  h1 {
    margin-bottom: 60px;
  }
  .memo_wrap {
    @include flex(center, initial);
    width: 100%;
    form {
      @include flex(initial, initial);
      flex-direction: column;
      gap: 10px;
      width: 93%;
      p {
        width: fit-content;
        padding: 5px;
        background-color: #c95757;
        color: white;
        font-size: 0.8rem;
      }
      //   border: 1px solid #ccc;
      input {
        border: 1px solid #ccc;
        width: 100%;
        padding: 10px;
      }

      textarea {
        border: 1px solid #ccc;
        width: 100%;
        height: 300px;
        resize: none;
        padding: 10px;
      }

      button {
        margin-top: 10px;
        background-color: rgb(225, 225, 225);
        padding: 15px 10px;
      }
    }
  }
}
