@import "src/app/components/common/scss/utils.scss";

.memo_page {
  h1 {
    margin-bottom: 40px;
  }
  .memo_wrap {
    @include flex(center, center);
    width: 100%;
    form {
      @include flex(initial, initial);
      flex-direction: column;
      gap: 10px;
      padding: 10px;
      > p {
        width: fit-content;
        padding: 5px;
        background-color: #c95757;
        color: white;
        font-size: 0.8rem;
      }
      //   border: 1px solid #ccc;
      input {
        border: 1px solid #ccc;
        width: 100%;
        padding: 10px;
      }

      .content_wrap {
        @include flex(center, initial);
        box-sizing: border-box;
        background-color: #ffd484;
        max-width: 940px;
        overflow-x: hidden;

        label {
          display: block;
          margin-bottom: 10px;
          font-size: 13px;
        }
        .write_area {
          padding: 10px;

          textarea {
            border: none;
            width: 100%;
            min-width: 450px;
            height: 300px;
            resize: none;
            padding: 20px;
          }
        }
        .written_area {
          padding: 10px;

          .md_wrapper {
            width: 50%;
            min-width: 450px;
            height: 300px;
            padding: 20px;
            overflow-y: auto;
            // white-space: wrap;
            word-break: break-all;

            &::-webkit-scrollbar {
              width: 5px;
              height: 100%;
            }

            &::-webkit-scrollbar-thumb {
              height: 2px;
              background: #004b77;
              border-radius: 5px 5px 5px 5px;
            }
          }
        }
      }

      button {
        margin-top: 10px;
        background-color: rgb(225, 225, 225);
        padding: 15px 10px;
      }
    }
  }
}
