@import "src/app/components/common/scss/utils.module.scss";

/** Line component  */
.line_wrapper {
  position: relative;
  padding-left: 50px;
  margin-top: 100px;
  .line {
    width: 2px;
    background-color: black;
    transition: height 0.1s linear;
  }
  .block {
    @include flex(center, initial);
    position: absolute;
    width: 80vw;
    span,
    p {
      margin-left: 20px;
    }
    img {
      @include animate(0, down, 10);
      margin-top: 10px;
      margin-left: 100px;
    }
  }
  .dot {
    width: 10px;
    height: 10px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    left: -4px;
  }
}
