@import "src/app/components/common/scss/utils.scss";

.moveEvent_wrap {
  @include flex(initial, initial);
  flex-direction: column;
  gap: 10px;
  margin-top: 40px;
  .moveEvent_el {
    width: fit-content;
    background-color: #ccc;
    padding: 5px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;

    &::after {
      content: "✋";
    }
  }
}
