@import "src/app/components/common/scss/utils.scss";

body {
  transition: 0.2s ease-in-out;
  &[data-theme="dark"] {
    --bg-color: #252527;
    --w: #fff;
    --font: #ccc;
    --mdblock: #2b2b2b;
    --active: #8a8a8a;

    background-color: var(--bg-color);

    /** main  */
    .main_wrapper {
      svg {
        g {
          path {
            stroke: var(--w);
          }
        }
      }
      ul li a {
        color: var(--w);
      }
    }

    /** nav bar  */
    .nav_wrapper {
      background-color: var(--bg-color);
      .logo {
        > i {
          background: url($img) no-repeat -26px -31px;
          width: 17px;
          height: 51px;
        }
      }
      nav {
        .mode {
          background: url($img) no-repeat -95px -6px;
          width: 12px;
          height: 20px;
        }
      }
    }

    .content {
      h1 {
        color: var(--font) !important;
      }
      .list {
        li a {
          background-color: #5b6370 !important;
        }
      }
    }

    /** post category  */
    .category {
      p:not(:first-child) {
        color: var(--font) !important;
      }
    }

    /** post_detail heart  */
    .heart_wrap {
      .like {
        color: var(--font);
      }
    }
    /** post_detail md 파일  */
    .md_wrapper {
      nav > a,
      ul li,
      ol li,
      h1,
      h2,
      h3,
      h4,
      p,
      td,
      summary,
      em,
      strong,
      del {
        color: var(--font) !important;

        &.active {
          color: var(--active) !important;
        }
      }
      /** post_detail md 파일 - code 블럭 */
      pre {
        > div {
          background: var(--mdblock) !important;
          box-shadow: none;
          // span {
          //   color: var(--font);

          //   &.token {
          //     color: var(--font);
          //   }
          // }
        }
      }
    }

    /** post_detail toc  */
    .toc_content {
      > span,
      h1,
      h2,
      h3,
      h4 {
        color: var(--font);
      }
    }
  }
}
