.wrapper {
  width: 1024px;
  margin: 5rem auto 0px;
  position: relative;

  .content {
    position: relative;
    margin-top: 120px;
    padding: 20px;

    .detail_img {
      width: 100% !important;
      height: 300px !important;
      opacity: 0.7;
      overflow: hidden;
      display: flex;
      align-items: center;
    }
  }
}
