* {
    margin: 0;
    padding: 0;
    outline: none;
  
    /* scrollbar */
    ::-webkit-scrollbar {
      width: 6px;
      height: 6px;
    }
    ::-webkit-scrollbar-track {
      background-color: transparent;
    }
    ::-webkit-scrollbar-thumb {
      background: #d9d9d9;
      border-radius: 3px 3px;
    }
    ::-webkit-scrollbar-thumb:hover {
      background: #d9d9d9;
    }
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
    vertical-align: bottom;
  }
  
  // Pretendard 폰트 굵기 정의
  // 가는체 300
  // 일반체 400
  // 중간체 500
  // 세미볼드 600
  // 볼드 700
  // 엑스트라볼드 800
  @mixin fontP {
    font-family: 'Pretendard', 'MalgunGothic', sans-serif !important;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-stretch: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  body {
    @include fontP;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #191919;
  }
  
  html {
    box-sizing: border-box;
  }
  
  form {
    display: block;
  }
  
  @mixin no-outline {
    &,
    &:active,
    &:focus {
      outline: none;
    }
  }
  
  a {
    @include no-outline;
    display: block;
    text-decoration: none;
    color: #191919;
  }
  
  i {
    display: inline-block;
  }
  
  input {
    @include no-outline;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    border: none;
  }
  
  input[type='checkbox'] {
    cursor: pointer;
  }
  
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  input[type='number'] {
    -moz-appearance: textfield;
  }
  
  textarea {
    @include fontP;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    resize: none;
    outline: none;
    overflow-wrap: break-word;
    overflow: auto;
    border: 1px solid #dfdfdf;
  }
  
  button {
    @include no-outline;
    @include fontP;
    border: none;
    letter-spacing: 0.5px;
    cursor: pointer;
    background-color: initial;
    line-height: 0;
  }
  
  img {
    border: 0;
  }
  
  ul,
  li {
    list-style-type: none;
  }
  
  #root {
    position: absolute;
    width: 100%;
    height: 100%;
    // min-width: 1450px;
    min-height: 768px;
    overflow: hidden;
  }
  
  .ReactVirtualized__Grid__innerScrollContainer {
    overflow: initial !important;
  }
  
  .ReactVirtualized__Grid {
    overflow: overlay !important;
  }
  
  ::-moz-selection {
    background: #144b5f91;
    color: #fff;
  }
  ::selection {
    background: #144b5f91;
    color: #fff;
  }
  