@import "src/app/components/common/scss/utils.scss";

.techpost_page {
  position: relative;
  .post_title {
    display: block;
    margin-bottom: 100px;
    color: rgb(187, 187, 187);
  }
  .posts_wrapper {
    .category {
      @include flex(initial, initial);
      position: absolute;
      flex-direction: column;
      margin: 10px 0 10px 0;
      padding-left: 20px;
      top: 125px;
      right: -130px;
      width: 150px;

      box-sizing: border-box;
      p {
        cursor: pointer;
        margin: 5px 0 5px 0;
        font-size: 15px;
        &:first-child {
          color: orange;
          border-bottom: 1px solid black;
          padding-bottom: 10px;
        }

        &.active {
          font-weight: 600;
        }
      }
    }

    .list_wrapper {
      .list {
        @include flex(center, initial);
        flex-wrap: wrap;
        width: 98%;
        li {
          width: inherit;
          a {
            @include flex(flex-start, initial);
            flex-direction: column;
            width: inherit;
            height: 170px;
            gap: 30px;
            box-sizing: border-box;
            padding: 30px 30px 50px 20px;
            border-bottom: 1px solid rgb(0, 0, 0);
            transition: 0.3s linear;

            .text_wrapper {
              @include flex(initial, initial);
              flex-direction: column;
              gap: 10px;
              // &::after {
              //   content: "";
              //   position: absolute;
              //   left: 0;
              //   line-height: 100px;
              //   display: block;
              //   width: 0px;
              //   height: 50px;
              //   background-color: rgba(255, 255, 255, 0.822);
              //   transition: 0.3s linear;
              //   z-index: 5;
              // }

              // > span,
              // > h4 {
              //   z-index: 99;
              // }
              span {
                font-size: 13px;
              }
            }

            // &:hover {
            //   .text_wrapper {
            //     &::after {
            //       width: 20%;
            //     }
            //   }
            // }
            // img {
            //   justify-content: flex-start;
            //   opacity: 0.7;
            // }
            .like_wrap {
              @include flex(center, initial);
              gap: 10px;
              padding-left: 5px;
              // height: 100px;
              .static_heart {
                background: url($img) no-repeat -4px -5px;
                width: 25px;
                height: 22px;

                &.like {
                  transform: rotateY(180deg);
                  background: url($img) no-repeat -32px -5px;
                  width: 25px;
                  height: 22px;
                }
              }
            }
          }
        }
      }
    }
  }
}
