@import "src/app/components/common/scss/utils.scss";

.profile_wrap {
  height: calc(100vh - 450px);
  h1 {
    @include animate(0, down);
    display: block;
    border-bottom: 1px solid black;
    padding-bottom: 20px;
    margin-bottom: 30px;
  }
  .content_wrap {
    @include flex(center, center);
    // height: inherit;
    @include animate(1, down);

    gap: 80px;
    .img_area {
      @include flex(center, space-between);
      flex-direction: column;
      gap: 12px;

      .main_img {
        margin-top: 20px;
        border-radius: 100%;
      }
    }
  }
  .resume_wrap {
    @include flex(center, end);
    margin-right: 180px;
    .resume {
      @include animate(2, down);
      width: fit-content;
      cursor: pointer;
      &:hover {
        border-bottom: 1px solid black;
      }
    }
  }
}
